  /* Estilos gerais */
  @import url("https://fonts.googleapis.com/css2?famly=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{ 
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: yellowgreen;
    font-size: medium;
    min-width: 100vh;
    padding: 100px;
      height: 100vh;
      width: 100%;
      background-image: url('imgs/pexels-stephan-seeber-1054218.jpeg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat ;
    }

section{
  background-color: #524c4c; /* Background color for the sections */
    padding: 20px; /* Adjust as needed */
    margin: 10px; /* Adjust as needed */
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
} 

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  
}


.logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
font-size: 18px;
position: relative;
color: #fff;
font-weight: 500;
text-decoration: none;
margin-left: 40px;

}


.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;

}
.navbar a:hover::before{
    width: 100%;
}
  
  
  

    img{
      max-width: 100px;
      flex-basis: 200px; /* Ajuste o valor conforme necessário */
      height: auto;
      display: block;
      margin:  10px;
      
    }
    
    h1, h2, h3 {
      color: #fff ;
    }
    
    /* Estilos das seções */
    section {
      padding: 40px;
    }
    .contato{
      padding: 10px 10px;
      gap: 10px;
    }

    .contato_1{

      align-items: center;
      display:flex;
      padding: 10px;
      gap: 10px;
    }


    .Projetos{
      align-items: center;
      display:flex;
    
      gap: 20px;
      
      }
    
    /* Estilos do rodapé */
    footer {
  
      position: relative;
      bottom: -10%;
      background-color: #ffff;
      padding: 15px;
      margin-bottom: 10px;
      text-align: center;
      width: 100%;
      border-radius: 10px;
      margin-right: 40px;
    }
    